<div class="container-fluid">
    <h4>Podaci o firmi:</h4>
    <table class="table table-striped">
        <tr class="header">
            <th>Naziv</th>
            <th>PIB</th>
            <th>Adresa</th>
            <th>Email</th>
            <th>Grad</th>
        </tr>
        <tr>
            <td>{{company.name}}</td>
            <td>{{company.vat}}</td>
            <td>{{company.address}}</td>
            <td>{{company.email}}</td>
            <td>{{company.phoneNumber}}</td>
            <td>{{company.city}}</td>
        </tr>
    </table>
</div>