<div class="container-fluid">
  
  <ul class="nav navbar-nav">
    <li>
        <h4>Neradni dani:</h4>
    </li>
    <li><a href="#" id="refresh"><img src="assets/images/refresh.gif" /></a></li>
    <li class="group-start"><a id="first"><img src="assets/images/first.gif" /></a></li>
    <li><a id="prev"><img src="assets/images/prev.gif" /></a></li>
    <li><a id="next"><img src="assets/images/next.gif" /></a></li>
    <li><a id="last"><img src="assets/images/last.gif" /></a></li>
    <li class="group-start">
      <a (click)="onAddNonworkingDay()" class="show_hand">
        <img src="assets/images/add.gif" />
      </a>
    </li>
  </ul>

  <table class="table">
    <tr class="header">
      <th>Opis</th>
      <th>Datum</th>
      <td></td>
    </tr>
    <tr *ngFor = "let nwd of nonworkingDays">
      <td>{{nwd.nonworkingDayDescription}}</td>
      <td>{{nwd.nonworkingDayDate}}</td>
      <td><a title="Izmena!" class="show_hand" (click)="onEditNonworkingDay(nwd.nonWorkingDayId)">
        <span class="glyphicon glyphicon-edit"></span>
      </a> &nbsp;
      <a title="Brisanje!" class="show_hand" (click)="onDeleteNWD(nwd.nonWorkingDayId);">
        <span style="color: red;" class="glyphicon glyphicon-remove"></span>
      </a></td>
    </tr>
  </table>

  <app-dialog [(visible)]="showDialog">
    <h3>Dodaj neradni dan</h3>
    <hr>
    <form (ngSubmit)="onSubmit('add')" class="form-horizontal" #f="ngForm">
      <fieldset>        
        <!-- for date -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nonworkingDayDate">Datum</label>
            <div class="col-md-5">
              <input class="form-control input-md" style="float: none" placeholder="Izaberite datum" ngx-mydatepicker id="nonworkingDayDate" name="nonworkingDayDate"
                 [(ngModel)]="nwdDateVar" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" #datePick="ngModel"/>
                 <span class="help-block" *ngIf="datePick.touched && !datePick.valid">Uneti datum nije validan.</span>               
            </div>
          <span class="input-group-btn control-span">
              <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                  <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="nonworkingDayDescription">Opis</label>
          <div class="col-md-5">
            <input id="nonworkingDayDescription"
                   name="nonworkingDayDescription" 
                   type="text" 
                   placeholder="Opis neradnog dana" 
                   class="form-control input-md"
                   [(ngModel)]="nwdDesVar"
                   ngModel required #NWDdescription="ngModel">
            <span class="help-block" *ngIf="NWDdescription.touched && !NWDdescription.valid">Opis je obavezan</span>
          </div>
        </div>
      <hr>
      <div style="text-align: center">
        <button 
          class="btn btn-primary" 
          type="submit" [disabled]="!f.valid">Potvrdi</button>
        <button type="button" class="btn" (click)="showDialog = !showDialog; resetForm();">Close</button>
      </div>
     </fieldset> 
    </form>
  </app-dialog>

  <app-dialog [(visible)]="showEditDialog">
    <h3>Izmeni neradni dan</h3>
    <hr>
    <form (ngSubmit)="onSubmit('edit')" class="form-horizontal" #fe="ngForm">
      <fieldset>        
        <!-- for date -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nonworkingDayDate">Datum</label>
            <div class="col-md-5">
              <input class="form-control input-md" style="float: none" placeholder="Izaberite datum" ngx-mydatepicker id="nonworkingDayDateEdit" name="nonworkingDayDateEdit"
                 [(ngModel)]="model" [options]="myOptions" #dpE="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" #datePick="ngModel"/>
                 <span class="help-block" *ngIf="datePick.touched && !datePick.valid">Uneti datum nije validan.</span>          
            </div>
          <span class="input-group-btn control-span">
              <button type="button" class="btn btn-default" (click)="dpE.clearDate()">
                  <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button type="button" class="btn btn-default" (click)="dpE.toggleCalendar()">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="nonworkingDayDescription">Opis</label>
          <div class="col-md-5">
            <input id="nonworkingDayDescriptionEdit"
                   name="nonworkingDayDescriptionEdit" 
                   type="text" 
                   placeholder="Opis neradnog dana" 
                   class="form-control input-md"
                   [(ngModel)]="nonworkingDay.nonworkingDayDescription"
                   ngModel required #NWDdescription="ngModel">
            <span class="help-block" *ngIf="NWDdescription.touched && !NWDdescription.valid">Opis je obavezan</span>
          </div>
        </div>
      <hr>
      <div style="text-align: center">
        <button 
          class="btn btn-primary" 
          type="submit" [disabled]="!fe.valid">Potvrdi</button>
          <button  type="button"  class="btn"(click)="showEditDialog = !showEditDialog; resetForm();">Close</button>
      </div>
     </fieldset> 
    </form>
  </app-dialog>

</div>
