<div class="container-fluid">

  <ul class="list-inline">
    <li>
      <h4>Zahtevi za godisnji :</h4>
    </li>
    <li>
      <a (click)="ngOnInit()" class="show_hand" id="refresh" title="Refresh.">
        <img src="assets/images/refresh.gif" />
      </a>
    </li>
    <li class="group-start" *ngIf="!all">
      <a  (click)="onAddVReq();" class="show_hand">
        <img src="assets/images/add.gif" />
      </a>
    </li>
  </ul>

  <table class="table">

    <tr class="header">
      <th>Pocetni datum</th>
      <th>Broj dana</th>
      <th>Krajnji datum</th>
      <th></th>
    </tr>
    <tr *ngFor = "let vReq of vacationRequests" >
      <td>{{vReq.startDate}}</td>
      <td>{{vReq.numOfDays}}</td>
      <td>{{vReq.endDate}}</td>
      <td><a title="Brisanje!" class="show_hand" (click)="onDeleteVreq(vReq.vacationRequestId);">
        <span style="color: red;" class="glyphicon glyphicon-remove"></span>
      </a></td>
    </tr>
  </table>

  <app-dialog [(visible)]="showDialog">
    <h3>Dodaj zahtev za godisnji odmor</h3>
    <hr>
    <form (ngSubmit)="onSubmit('add')" class="form-horizontal" #f="ngForm">
      <fieldset>        
        <!-- for date -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="startDate">Pocetni datum</label>
            <div class="col-md-5">
              <input class="form-control input-md" style="float: none" placeholder="Izaberite datum" ngx-mydatepicker id="nonworkingDayDate" name="nonworkingDayDate"
                 [(ngModel)]="startDateVar" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" #datePick="ngModel"/>
                 <span class="help-block" *ngIf="datePick.touched && !datePick.valid">Uneti datum nije validan.</span>               
            </div>
          <span class="input-group-btn control-span">
              <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                  <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                  <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="numOfDays">Broj radnih dana</label>
          <div class="col-md-5">
            <input id="numOfDays"
                   name="numOfDays" 
                   type="number"
                   pattern="^[1-9]" 
                   min="1"
                   max="999"
                   step="1"    
                   placeholder="Broj radnih dana" 
                   class="form-control input-md"
                   [(ngModel)]="numOfDaysVar"
                   ngModel required #VREQnumOfDays="ngModel">
            <span class="help-block" *ngIf="VREQnumOfDays.touched && !VREQnumOfDays.valid">Obavezno je uneti pozitivan celi broj dana</span>
          </div>
        </div>
      <hr>
      <div style="text-align: center">
        <button 
          class="btn btn-primary" 
          type="submit" [disabled]="!f.valid">Potvrdi</button>
        <button type="button" class="btn" (click)="showDialog = !showDialog; resetForm();">Close</button>
      </div>
     </fieldset> 
    </form>
  </app-dialog>
  
</div>