<div class="container-fluid">
  

    <ul class="list-inline">
        <li>
            <h4>Strucna sprema zaposlenog:</h4>
        </li>
        <li><a href="#" id="refresh"><img src="assets/images/refresh.gif" /></a></li>
        <li class="group-start"><a href="#inputModal" data-toggle="modal" data-target="#inputModal"><img src="assets/images/add.gif" /></a></li>
    </ul>

  <table class="table">
    <tr class="header">
      <th>Datum sticanja</th>
      <th>Obrazovna ustanova</th>
      <th>Naziv zanimanja</th>
      <th>Naziv strucne spreme</th>
      <th>Stepen strucne spreme</th>
      <th></th>
    </tr>
    <tr *ngFor = "let epq of employeesEPQCs">
      <td>{{epq.dateOfGraduation}}</td>
      <td>{{epq.educationalInstitution}}</td>
      <td>{{epq.profession}}</td>
      <td>{{epq.professionalQId.name}}</td>
      <td>{{epq.professionalQId.qualificationDegree}}</td>
      <td><a title="Izmena!" class="show_hand" (click)="onEditEmployee(employee.employeeId)">
          <span class="glyphicon glyphicon-edit"></span>
        </a> &nbsp;
        <a title="Brisanje!" class="show_hand" (click)="onFireEmployee(employee.employeeId);">
          <span style="color: red;" class="glyphicon glyphicon-remove"></span>
        </a></td>
    </tr>
</table>