<div class="container-fluid">
  
  <table class="table">
    <ul class="nav navbar-nav">
      <li>
          <h4>Strucna sprema zaposlenog:</h4>
      </li>
      <li><a href="#" id="refresh"><img src="assets/images/refresh.gif" /></a></li>
      <li><a href="#" id="help"><img src="assets/images/help.gif" /></a></li>
      <li class="group-start"><a id="first"><img src="assets/images/first.gif" /></a></li>
      <li><a id="prev"><img src="assets/images/prev.gif" /></a></li>
      <li><a id="next"><img src="assets/images/next.gif" /></a></li>
      <li><a id="last"><img src="assets/images/last.gif" /></a></li>
      <li class="group-start"><a href="#inputModal" data-toggle="modal" data-target="#inputModal"><img src="assets/images/add.gif" /></a></li>
      <li><a href="#" id="nextform"><img src="assets/images/nextform.gif" /></a></li>
    </ul>

    <tr class="header">
      <th>Datum sticanja</th>
      <th>Obrazovna ustanova</th>
      <th>Naziv zanimanja</th>
      <th>Naziv strucne spreme</th>
      <th>Stepen strucne spreme</th>
    </tr>
    <tr *ngFor = "let epq of employeesEPQCs">
      <td>{{epq.dateOfGraduation}}</td>
      <td>{{epq.educationalInstitution}}</td>
      <td>{{epq.profession}}</td>
      <td>{{epq.professionalQId.name}}</td>
      <td>{{epq.professionalQId.qualificationDegree}}</td>
    </tr>
  </table>