<div class="container-fluid">
  
    <table class="table">
      <ul class="nav navbar-nav">
        <li><h4>Strucne spreme:</h4></li>
        <li><a (click)="getAllProfessionalQualifications()" id="refresh"><img src="assets/images/refresh.gif" /></a></li>
        <li class="group-start">
          <a id="first" class="show_hand" (click)="onLastorFirst('first')" title="Select first.">
            <img src="assets/images/first.gif" />
          </a>
        </li>
        <li>
          <a id="prev" class="show_hand" (click)="onBack()" title="Select previous.">
            <img src="assets/images/prev.gif" />
          </a>
        </li>
        <li>
          <a id="next" class="show_hand" (click)="onNext()" title="Select next.">
            <img src="assets/images/next.gif" />
          </a>
        </li>
        <li>
          <a id="last" class="show_hand" (click)="onLastorFirst('last')" title="Select last.">
            <img src="assets/images/last.gif" />
          </a>
        </li>
        <li class="group-start"><a (click)="addProfQualification = !addProfQualification"><img src="assets/images/add.gif"/></a></li>
      </ul>
  
      <tr class="header">
        <th>Naziv strucne spreme</th>
        <th>Stepen strucne spreme</th>
        <th>Opcije</th>
      </tr>
      <tr *ngFor = "let pq of professionalQs; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow" >
        <td>{{pq.name}}</td>
        <td>{{pq.qualificationDegree}}</td>
        <td><a title="Izmena!" class="show_hand" (click)="onEditPQ(pq.professionalQualificationId)">
          <span class="glyphicon glyphicon-edit"></span>
        </a> &nbsp;
        <a title="Brisanje!" class="show_hand" (click)="onDelete(pq.professionalQualificationId);">
          <span style="color: red;" class="glyphicon glyphicon-remove"></span>
        </a></td>
      </tr>
    </table>

    <app-dialog [(visible)]="addProfQualification">
      <form (ngSubmit)="onSubmit('add')" class="form-horizontal" #f="ngForm">
        <fieldset>
        
        <legend>Dodaj strucnu spremu</legend>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Naziv</label>  
          <div class="col-md-5">
          <input id="name" name="name" type="text" class="form-control input-md" [(ngModel)]="pqNameVar" required #pqName="ngModel" maxlength="30">
          <span class="help-block" *ngIf="pqName.touched && !pqName.valid">Naziv je obavezan.</span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="degree">Stepen</label>  
          <div class="col-md-5">
          <input id="degree" name="degree" type="text" class="form-control input-md" [(ngModel)]="pqDegreeVar" required #pqDegree="ngModel" maxlength="3">
          <span class="help-block" *ngIf="pqDegree.touched && !pqDegree.valid">Stepen strucne spreme je obavezan.</span>
          </div>
        </div>
        </fieldset>
        <div style="text-align: center">
          <button 
            class="btn btn-primary" 
            type="submit" [disabled]="!f.valid">Potvrdi</button>
          <button type="button" (click)="addProfQualification = !addProfQualification; resetForm();" class="btn">Close</button>
        </div>
        </form>
    </app-dialog>



    <app-dialog [(visible)]="editProfQualification">
      <form (ngSubmit)="onSubmit('edit')" class="form-horizontal" #fE="ngForm">
        <fieldset>
        
        <legend>Izmeni strucnu spremu</legend>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="nameEdit">Naziv</label>  
          <div class="col-md-5">
          <input id="nameEdit" name="nameEdit" type="text" class="form-control input-md" [(ngModel)]="pq.name" maxlength="30" required #pqNameEdit="ngModel">
          <span class="help-block" *ngIf="pqNameEdit.touched && !pqNameEdit.valid">Naziv je obavezan.</span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="degreeEdit">Stepen</label>  
          <div class="col-md-5">
          <input id="degreeEdit" name="degreeEdit" type="text" class="form-control input-md" maxlength="3" [(ngModel)]="pq.qualificationDegree" required #pqDegreeEdit="ngModel">
          <span class="help-block" *ngIf="pqDegreeEdit.touched && !pqDegreeEdit.valid">Stepen strucne spreme je obavezan.</span>
          </div>
        </div>
        </fieldset>
        <hr>
        <div style="text-align: center">
          <button 
            class="btn btn-primary" 
            type="submit" [disabled]="!fE.valid">Potvrdi</button>
          <button type="button" (click)="editProfQualification = !editProfQualification; resetEditForm();" class="btn">Close</button>
        </div>
        </form>
    </app-dialog>