<div class="container-fluid">
  
  <table class="table">
    <ul class="nav navbar-nav">
      <li><h4>Resenja za godisnji odmor:</h4></li>
      <li><a href="#" id="refresh"><img src="assets/images/refresh.gif" /></a></li>
      <li><a href="#" id="help"><img src="assets/images/help.gif" /></a></li>
      <li class="group-start"><a id="first"><img src="assets/images/first.gif" /></a></li>
      <li><a id="prev"><img src="assets/images/prev.gif" /></a></li>
      <li><a id="next"><img src="assets/images/next.gif" /></a></li>
      <li><a id="last"><img src="assets/images/last.gif" /></a></li>
      <li class="group-start"><a href="#inputModal" data-toggle="modal" data-target="#inputModal"><img src="assets/images/add.gif" /></a></li>
      <li><a href="#" id="nextform"><img src="assets/images/nextform.gif" /></a></li>
    </ul>

    <tr class="header">
      <th>Ime i prezime radnika</th>
      <th>Poslovna godina</th>
      <th>Broj slobodnih dana</th>
    </tr>
    <tr *ngFor = "let annualHolidayRegulation of annualHolidayRegulations">
      <td><a href="#">{{annualHolidayRegulation.employeeDTO.firstName}} {{annualHolidayRegulation.employeeDTO.lastName}}</a></td>
      <td>{{annualHolidayRegulation.businessYear}}</td>
      <td>{{annualHolidayRegulation.numOfDays}}</td>
    </tr>
  </table>
