<div class="container-fluid">


  <ul class="list-inline">
    <li>
      <h4>Radna istorija zaposlenog:</h4>
    </li>
    <li>
      <a id="refresh" (click)="onGetWorkHistoryEmployeeId(mess)">
        <img src="assets/images/refresh.gif" />
      </a>
    </li>
    <li class="group-start">
      <a (click)="onAddButton()">
        <img src="assets/images/add.gif" />
      </a>
    </li>
  </ul>

  <table class="table">
    <tr class="header">
      <th>Predhodna firma</th>
      <th>Pocetni datum</th>
      <th>Krajnji datum</th>
      <th></th>
    </tr>
    <tr *ngFor="let workHistory of workHistoriesEmpl">
      <td>{{workHistory.previousCompany}}</td>
      <td>{{workHistory.startDate}}</td>
      <td>
        <div *ngIf="workHistory.endDate != null && workHistory.endDate != ''">
          {{workHistory.endDate}}
        </div>
        <div *ngIf="workHistory.endDate == null || workHistory.endDate == ''">
          Trenutno radno mesto
        </div>
      </td>
      <td>
        <a title="Izmena!" class="show_hand" (click)="onEditButton(workHistory.workHistoryId)">
          <span class="glyphicon glyphicon-edit"></span>
        </a> &nbsp;
        <a title="Brisanje!" class="show_hand" (click)="onDeleteWorkHistory(workHistory.workHistoryId);">
          <span style="color: red;" class="glyphicon glyphicon-remove"></span>
        </a>
      </td>
    </tr>
  </table>

  <app-dialog [(visible)]="addWorkHistory">
    <form (ngSubmit)="onSubmit('add')" class="form-horizontal" #f="ngForm">
      <fieldset>

        <legend>Dodaj radnu istoriju zaposlenom</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="educInst">Firma</label>
          <div class="col-md-5">
            <input id="educInst" name="educInst" type="text" class="form-control input-md" [(ngModel)]="workHistory.previousCompany"
              required maxlength="30" #edInst="ngModel">
            <span class="help-block" *ngIf="edInst.touched && !edInst.valid">Firma je obavezna.</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="startDate">Pocetni datum</label>
          <div class="col-md-5">
            <input class="form-control input-md" style="float: none" placeholder="Izaberite datum" ngx-mydatepicker name="startDate"
              ngModel [options]="myOptions" #dpCreate="ngx-mydatepicker" (dateChanged)="onDateChanged($event, 1)" #datePick="ngModel"
              required/>
            <span class="help-block" *ngIf="datePick.touched && !datePick.valid">Uneti datum nije validan.</span>
          </div>
          <span class="input-group-btn control-span">
            <button type="button" class="btn btn-default" (click)="dpCreate.clearDate()">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default" (click)="dpCreate.toggleCalendar()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div> -->

        <div class="form-group">
          <label class="col-md-4 control-label" for="endDate">Krajnji datum</label>
          <div class="col-md-5">
            <input class="form-control input-md" style="float: none" placeholder="Izaberite datum" ngx-mydatepicker name="endDate" ngModel
              [options]="myOptions" #dpECreate="ngx-mydatepicker" (dateChanged)="onDateChanged($event, 2)" #datePick="ngModel"
            />
            <span class="help-block" *ngIf="datePick.touched && !datePick.valid">Uneti datum nije validan.</span>
          </div>
          <span class="input-group-btn control-span">
            <button type="button" class="btn btn-default" (click)="dpECreate.clearDate()">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default" (click)="dpECreate.toggleCalendar()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
        <hr>

        <!-- workPlace -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="workPlace">Radno mesto</label>
          <div class="col-md-4">
            <select id="workPlaceId" name="workPlaceId" class="form-control" ngModel required>
              <option *ngFor="let wp of workPlaces" value="{{wp.workPlaceId}}">{{ wp.name }}</option>
            </select>
          </div>
        </div>



      </fieldset>
      <hr>
      <div style="text-align: center">
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Potvrdi</button>
        <button type="button" (click)="addWorkHistory = !addWorkHistory; resetForm();" class="btn">Close</button>
      </div>
    </form>
  </app-dialog>


  <app-dialog [(visible)]="editWorkHistory">
    <form (ngSubmit)="onSubmit('edit')" class="form-horizontal" #fE="ngForm">
      <fieldset>

        <legend>Izmeni radnu istoriju zaposlenom</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="previousCompanyEdit">Predhodna firma</label>
          <div class="col-md-5">
            <input id="previousCompanyEdit" name="previousCompanyEdit" type="text" class="form-control input-md" [(ngModel)]="workHistory.previousCompany"
              required maxlength="30" #edInstE="ngModel">
            <span class="help-block" *ngIf="edInstE.touched && !edInstE.valid">Predhodna firma je obavezna.</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="startDate">Pocetni datum</label>
          <div class="col-md-5">
            <input class="form-control input-md" style="float: none" placeholder="Izaberite datum" ngx-mydatepicker name="startDate"
              [(ngModel)]="startDate" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event, 1)"
              #datePickEdit="ngModel" required/>
            <span class="help-block" *ngIf="datePickEdit.touched && !datePickEdit.valid">Uneti datum nije validan.</span>
          </div>
          <span class="input-group-btn control-span">
            <button type="button" class="btn btn-default" (click)="dp.clearDate()">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="endDate">Pocetni datum</label>
          <div class="col-md-5">
            <input class="form-control input-md" style="float: none" placeholder="Izaberite datum" ngx-mydatepicker name="endDate" [(ngModel)]="endDate"
              [options]="myOptions" #dpE="ngx-mydatepicker" (dateChanged)="onDateChanged($event, 2)" #datePickEdit="ngModel"
              required/>
            <span class="help-block" *ngIf="datePickEdit.touched && !datePickEdit.valid">Uneti datum nije validan.</span>
          </div>
          <span class="input-group-btn control-span">
            <button type="button" class="btn btn-default" (click)="dpE.clearDate()">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default" (click)="dpE.toggleCalendar()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>

        <!-- workPlace -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="workPlace">Radno mesto</label>
          <div class="col-md-4">
            <select id="workPlaceId" name="workPlaceId" class="form-control" ngModel required [(ngModel)]="workHistory.workPlaceId">
              <option *ngFor="let wp of workPlaces" value="{{wp.workPlaceId}}">{{ wp.name }}</option>
            </select>
          </div>
        </div>




      </fieldset>
      <hr>
      <div style="text-align: center">
        <button class="btn btn-primary" type="submit" [disabled]="!fE.valid">Potvrdi</button>
        <button type="button" (click)="editWorkHistory = !editWorkHistory; resetEditForm();" class="btn">Close</button>
      </div>
    </form>
  </app-dialog>

</div>